/********************************FORSIDE******************************/

#splash {
    margin: 5vw;
    position: inherit;
}


/***************FÆLLES****************/

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(95, 158, 160, 0.17);
    background-repeat: no-repeat;
}


header {
    background-color: cadetblue;
    width: 100%;
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
}


header nav {
    font-size: 1.5rem;
    padding: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* unvisited link */
header a:link {
    color: white;
    text-decoration: none;
    margin: 1px;
}

/* visited link */
header a:visited {
    color: #c7c7c7;
}

/* mouse over link */
header a:hover {
    color: grey;
    text-decoration: none;
    background-color: white;
    border-radius: 3px;
    padding: 5px;
}


nav li {
    display: inline;
    text-decoration: none;
    text-align: center;
    border-right: 1.5px solid white;
    padding: 0 0.4rem 0 0;
}

nav li a {
    text-align: center;
    padding: 5px 5px;
}

nav li:last-child {
    border-right: none;

}

nav ul {
    text-align: center;
    padding-left: 0;
}


@media screen and (min-width: 300px) {
    nav li {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 500px) {
    nav li {
        font-size: 1.5rem;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: cadetblue;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 10px;
    z-index: 1;
    text-align: left;
    margin-top: 3px;
    line-height: 50px;
    border-radius: 3px;
    padding-left: 25px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.overskrift1 {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.box {
    background-color: white;
    height: 1.5px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box2 {
    background-color: rgb(88, 89, 91);
    height: 1.5px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


@media screen and (min-width: 300px) {

    .box,
    .box2 {

        width: 300px;
    }
}


@media screen and (min-width: 500px) {

    .box,
    .box2 {
        width: 500px;

    }
}

@media screen and (min-width: 600px) {

    .box,
    .box2 {
        width: 600px;

    }
}

b a:hover {
    color: rgb(88, 89, 91);
}

b a {
    color: black;
}


/************************************CV************************************/


.selvportraet img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textommig {
    text-align: center;
    color: rgb(88, 89, 91);
}

p {
    padding: 10px;
    color: rgb(88, 89, 91);
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.4;
}



@media screen and (min-width: 300px) {
    p {
        width: 300px;
    }
}


@media screen and (min-width: 500px) {
    p {
        width: 500px;
    }
}

@media screen and (min-width: 700px) {
    p {
        width: 700px;
    }
}


.ikon li {
    display: inline;
    margin: 20px;
    opacity: 0.5;
}

.ikon li:hover {
    opacity: 1;
}


.ikon ul {
    text-align: center;
    padding-left: 0;
}

.cvbilleder {
    padding: 10px;
}


.gallery img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.responsive {
    padding: 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}


@media screen and (min-width: 300px) {
    .selvportraet img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}


@media screen and (min-width: 500px) {
    .selvportraet img {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}



/************************************Portfolie*****************************/

.tema {
    text-decoration: none;
    color: rgb(88, 89, 91);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}


.gallery1 img {
    width: 100%;
    height: auto;
    padding: 10px;
    transition: transform .5s;
    opacity: 0.5;

}

.gallery1 img:hover {
    transform: scale(1.1);
    opacity: 1.0;

}


.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(88, 89, 91);

}



.responsive1 {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1000px) {
    .responsive1 {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive1 {
        width: 100%;
    }
}


/**********************************TEMA1***********************************/


.temaoverskrift {
    color: rgb(88, 89, 91);
    text-align: center;
    font-size: 1.2rem
}

.billede img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.temalink a {
    color: rgb(88, 89, 91);
    text-decoration: none;
    font-size: 1.8rem;

}


.temalink {
    text-align: center;
    padding: 10px;
    opacity: 0.5;
    transition: transform .5s;
    margin: 0;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.temalink:hover {
    padding: 10px;
    opacity: 1;
    transform: scale(1.1);
}


@media screen and (min-width: 300px) {
    .temalink img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}


@media screen and (min-width: 500px) {
    .temalink img {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}



/**********************************TEMA2***********************************/

.tema2 h2 {
    color: rgb(88, 89, 91);
    padding: 10px;
}


.billede video {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 300px) {
    .billede video {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}


@media screen and (min-width: 500px) {
    .billede video {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

/**********************************TEMA3***********************************/

.tema3 h2 {
    color: rgb(88, 89, 91);
    padding: 10px;
}


/**********************************TEMA4***********************************/


.tema4 h2 {
    color: rgb(88, 89, 91);
    padding: 10px;
}
